body{
    background: darkmagenta;
}
#mainNavbar .navbar-brand{
    color: pink;
    font-size: 1.5rem;

}
#headinggroup{
    color: pink;
}
@media(max-width: 1200px){
    #headinggroup h1{
        font-weight: 100;
        font-size: 3rem;
    }
}
h2{
    color: darkmagenta;
     margin-bottom: auto;
}
p{
    color: pink
}

