body{ 
    background-color: aqua;
     display: flex;
    justify-content: center;
    align-items: center;
}
#image1{
    width:100px;
    height: 100px;
    margin-bottom: 25px;
    width: 100%;
    
}
#image2{
    width:100px;
    height: 100px;
    margin-bottom: 25px;
    width: 100%;
}
#image3{
    width:100px;
    height: 100px;
    margin-bottom: 25px;
    width: 100%;
}
    html{
        box-sizing: border-box;
    }

#box{
    
    background-color: white;
    border-radius: 10px;
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    text-transform: uppercase;
    display:inline block;
    
    
}
.r{
    color:grey;
    margin-bottom: 25px;
    letter-spacing: 60;
    border-bottom:1px solid grey;
    
    
}
.s{
    color: blue;
    
    letter-spacing: 60;
    
    
}
.t{
    color: blue;
    margin-bottom: 25px;
    letter-spacing: 60;
    border-bottom:1px solid grey;
    
}
.u{
    font-size: 32px;
    color: blue;
    margin-bottom: 25px;

    font-weight: 700;
    border-bottom:1px solid grey;
}
.button{
    color: blue;
    font-size: 32px;
    margin-bottom: 25px;
    padding: 15px 35px;
    border: 1px solid #9dd1ff;
    display: inline-block;
     
}
u :nth-last-child(2){
    background-color: blue;
    
}
#one{ 
    margin-right: 12px;
    border-right: 1px solid grey;
    margin-right: 12px;
}
#two{ 
    margin-right: 12px;
    border-right: 1px solid grey;
    margin-right: 12px;
}
#three{ 
    margin-right: 25px;
    border-right: none;
    
}
